*{
    box-sizing: border-box; /*Para no tener problemas con el pading con ciertos elementos*/
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.5; /*Espacio entre un renglon a otro*/
    background-color: black;
}

/*
__________________ 

NAV BAR
___________________
*/
.show {/*js*/
    display: flex !important;/*Sobre escribir valores en uestros elementos*/
}

nav{
display: flex;
    align-items: center;
    justify-content: space-between; /*Esto nos ayudara a tener un elemeento un elemento a la izq, uno centro y uno a al derecha*/
    padding: 0 5%;
}
nav ul{
    display: flex;
    list-style: none; /*No en forma de lista*/
    padding: 0;
    margin: 0;
}
nav ul li > a{
    display: block;/*Para manipular el padding mucho mejor*/
    position: relative;
    padding: 20px 15px 10px 15px; /*??*/
    text-decoration: none;
    color: white;
}
nav ul li .link::before {/* el before sirve para dar le efectos de sombreado antes de*/
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    background-color: white;
} 
nav ul li .link:hover::before {
    transform: scaleX(1);
}
nav .more{
    display: none; /*Oculatrlo del display*/
}
nav .movile{
    display: none; /*Ocultar*/
    width: 100%;
}

/*--- NAV MOVILE CONFIGURATION----*/
nav .movile .header{
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
}
nav .movile .header a{
    color: white;
    display: inline-flex;
    text-decoration: none;
    padding: 10px;
}
 nav .movile .header #bmenu{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
 }
nav .movile .links{
    display: none;
    flex-direction: column;/*columna*/
    position: relative;
    z-index: 200;
}
nav .movile .links a{
    display: block; /*Ocupa todo el ancho del elemento*/
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: black;
}
nav .movile .links a:hover{
    background-color: white;
    color: black;
}
/* --- --- ---*/

nav .menu{ /*Debe flotar*/
    margin-top: 48px;/*Posicion exacta  del top del boton more y el menu desplegado*/
    position: absolute;
    display: none;/*none = no sale en la pantalla*/
    flex-direction: column;
    min-width: 200px;
    background-color: white;
}
nav .menu a{/*Para cada hipervinculo*/
    padding: 10px;
    color: black;
    text-decoration: none;
}
nav .menu a:hover{/*Para cada hipervinculo, cada que pase el cursor se pondra de color negro letras blancas*/
    background-color: black;
    color: white;
}

/*
__________________ 

HEADER
___________________
*/
header{
    background-image: url(../img/halo-infinite-cover-darkmode.jpg);
    background-size: cover; /*Redimencionara al tamao de la patalla*/
    background-position: center center;/*Se ajustar centro mientras se achica la dimension de la pantalla*/
    height: 100vh;
}

/*--- OCULTAR NAV PARA MOVILES---*/
@media screen and (max-width: 1132px){/*Cuando el display pase a 1132px*/
    nav .link-hide{
        display: none;
    }
    /*Cuando llegue al maximo de ancho, el display none ocultara el menu con clase
       link-hide para que no colapse el menu*/
    nav .more{
        display: flex;
    /*Ahora, cuando se ocule eta parte del menu, quiero que muestres el more*/
    }
    header{
        height: 70vh;
    }
}
@media screen and (max-width: 640px){/*Cuando el display pase a 1132px*/
    nav{
        width: 100%;
        padding: 0; /*Relleno de 0, osea nada*/
    }
    nav ul{
        display: none;
    }
    nav .movile{
        display: block;
    }
    header{
        background-position: center 40px;
        height: 30vh;
    }
}
